 <div>
   <div><%= link_to "home", root_path %></div>
   <div><%= link_to "about me", about_path %></div>
   <div><%= link_to "contact me", contact_path %></div>
   <div><%= link_to "Blogs", blogs_path %></div>
   <div><%= link_to "Portfolio", portfolios_path %></div>
 </div>